{% extends "layout.html" %}

{% block title %}
    48 Peaks
{% endblock %}

{% block content %}
<div class="home-container">
    <!-- Left Sidebar -->
    <div class="home-sidebar">
        <div class="home-sidebar-title">Following</div>
        <div class="home-search-bar">
            <input type="text" placeholder="Follow a new user..." class="search-input">
        </div>
        <div class="sidebar-user-section">
            <div class="sidebar-user">
                <div class="user-icon"></div>
                <span class="username">username</span>
            </div>
        </div>
    </div>

    <!-- Main Content -->
    <div class="main-content">
        <div class="home-sidebar-title">Recent Posts</div>
        <div class="home-posts">
            <div class="home-post-container">
                <div class="home-post-header">
                    <div class="user-icon"></div>
                    <span class="username">username</span>
                </div>
                <hr class="post-divider">
                <div class="home-post-content" onclick="openPostOverlay(1)">
                    <img src="/static/images/user_photos/summit_photos/1/1.jpg">
                </div>
            </div>        
            <div class="home-post-container">
                <div class="home-post-header">
                    <div class="user-icon"></div>
                    <span class="username">username</span>
                </div>
                <hr class="post-divider">
                <div class="home-post-content" onclick="openPostOverlay(1)">
                    <img src="/static/images/user_photos/summit_photos/1/1.jpg">
                </div>
            </div>       
        </div> 
    </div>    

    <!-- Right Sidebar -->
    <div class="home-sidebar">
        <div class="home-sidebar-title">Your Next Peak</div>
        <div class="home-search-bar">
            <input type="text" placeholder="Find a peak..." class="search-input">
        </div>
        <div class="sidebar-peak-section">
            <div class="sidebar-peak">
                <div class="sidebar-peak-title">Mt. Washington</div>
            </div>
            <div class="sidebar-peak">
            </div>
            <div class="sidebar-peak">
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% include 'post_overlay.html' %}