<!DOCTYPE HTML>
<html lang="en">
    <head>
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Page Title{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    </head>
    <body>
        <!-- Navigation Bar -->
        <div class="navigation-bar">
            <div class="logo">48 Tracker Online</div>
            <div class="nav-links">
                <a href="#">Home</a>
                <a href="#">Log a Peak!</a>
                <a href="#">Your Peaks</a>
                <a href="#">About</a>
            </div>
            <button class="cta-button">Log Out</button>
        </div>

        <!-- Dynamic Content -->
        <div class="content">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>
